/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/JavaApplication3/dist/
/AddressBook-MVC-java-master/build/
/AddressBook-MVC-java-master/nbproject/private/
/AddressBook-MVC-java-master-Oracle/build/
/AddressBook-MVC-java-master-Oracle/nbproject/private/
/AddressBook-MVC-java-master-Oracle - Copy/build/
/AddressBook-MVC-java-master-Oracle - Copy/nbproject/private/
/AddressBook-MVC-java-master-MySQL/build/
/AddressBook-MVC-java-master-MySQL/nbproject/private/
/MySQLConnction/nbproject/private/
/MySQLConnction/build/